{% extends 'base.html.twig' %}

{% block title %}Echec{% endblock %}

{% block body %}
<div style="text-align:center; margin:10em;">
    <h1>Une erreur est survenue lors du traitement de votre requete.</h1>
    <br/>
    <p>N'hésitez par à recommencer cette démarche si elle vous semble avoir échoué.</p>
    <p>Vous pouvez fermer cette page.</p>
</div>
{% endblock %}