{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
<div style="text-align:center; margin:10em;">
    <h1>Votre requete à été effectuer avec success.</h1>
    <br/>
    <p>Vous pouvez fermer cette page.</p>
</div>
{% endblock %}