<h1>Activez votre compte</h1>

<p><B>Si cette démarche n'a pas été faite par vos soin, veuillez ignorer ce mail, quelqu'un a possiblement renseigné votre boite mail par erreur.</B></p>
<br/>

<p>Afin de finaliser votre inscription, veuillez copier-coller le jeton ci-dessous sur le site web dans le formulaire approprié. (Cliquez sur le boutton "j'ai reçue un jeton")</p>


<p>{{token}}</p>

<p>Ce jeton expirera dans 8 minutes.</p>


<br/>




